.achievement-main-container {
  margin-bottom: 140px;

  .achievement-grid {
    display: flex;
    flex-wrap: wrap;

    .cell-item {
      margin-top: 20px;

      .achievement-card {
        background: var(--bg);
        border-radius: 24px;
        // box-shadow: var(--drop-shadow);
        transition: box-shadow 0.3s;
        padding: 24px;
        height: 100%;

        &:hover {
          box-shadow: var(--primary-shadow);
        }

        .achievement-title-container {
          display: flex;
          align-items: center;

          .achievement-image {
            width: 70px;
            margin-right: 26px;
          }

          .achievement-title {
            font-size: 18px;
            font-weight: 500;
            color: var(--color-secondary);
          }
        }

        .achievement-description {
          margin: 20px 10px 10px 10px;
          font-weight: 300;
          line-height: 1.8;
          color: var(--text-color);
        }

        .company-logo-container {
          margin-top: 30px;

          .company-logo {
            height: 60px;
          }
        }
      }
    }
  }
}

.pr-button {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 10px;
  margin-top: 20px;

  i {
    margin-left: 10px;
  }
}
