.main-header-container {
  position: sticky;
  top: 0;
  margin-top: 10px;
  margin-bottom: 10px;

  &.stuck {
    background: var(--off-white-primary);
    box-shadow: var(--primary-shadow);
    z-index: 1;
  }

  .header {
    display: flex;
    align-items: center;
    color: var(--theme-secondary);
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 500;
    font-size: 15px;

    .header-left {
      display: flex;
      align-items: center;
      gap: 20px;

      .brand-image-container {
        width: 70px;
        height: 70px;
        display: inline-block;

        .brand-image {
          width: 100%;
          height: 100%;
          margin-right: 40px;
        }

        .mail-address {
          margin-left: 16px;
          display: inline-table;
          color: var(--theme-secondary);
        }
      }
    }

    .header-right {
      .header-menu {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-direction: row;
        flex-wrap: wrap;

        .menu-item {
          margin: 8px 12px;
        }

        .hire-me {
          margin-left: 10px;
          padding: 17px 35px;
          color: white;
        }
      }
    }
  }
}

.main-card-container {
  padding-top: 100px;
  padding-bottom: 70px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 322px;
    height: 308px;
    border-radius: 50%;
    background: var(--theme-primary);
    background: -o-linear-gradient(
      190deg,
      var(--theme-primary) 0%,
      rgba(115, 67, 210, 0) 100%
    );
    background: linear-gradient(
      260deg,
      var(--theme-primary) 0%,
      rgba(115, 67, 210, 0) 100%
    );
    -webkit-filter: blur(150px);
    filter: blur(150px);
    margin-top: -5%;
    z-index: -1;
  }

  @media screen and (width >= 768px) {
    .fr-sm {
      float: right;
    }
  }

  .bio-headline-container {
    .js-title-gradient {
      display: inline-block;
    }

    .js-sub-title {
      color: var(--theme-secondary);
      margin-bottom: 10px;
    }
  }

  .main-image-container {
    .headline-image {
      margin: 0 auto;
      display: block;
      width: 300px;
      height: 400px;
    }

    .headline-image-bg {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        background: var(--theme-primary);
        background: -o-linear-gradient(
          190deg,
          var(--theme-primary) 0%,
          rgba(115, 67, 210, 0) 100%
        );
        background: linear-gradient(
          260deg,
          var(--theme-primary) 0%,
          rgba(115, 67, 210, 0) 100%
        );
        -webkit-filter: blur(150px);
        filter: blur(150px);
        margin-left: -5%;
        margin-bottom: -5%;
      }
    }
  }

  .bio-container {
    .main-button-container {
      button {
        &:not(:first-child) {
          margin-left: 20px;
        }
      }

      .resume-download-btn {
        margin-top: 50px;
        padding: 17px 35px;

        i {
          margin-left: 10px;
        }
      }
    }
  }
}

.highlight-main-container {
  margin-bottom: 20px;

  .highlight {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 80px;

    &-value {
      font-size: 42px;
      font-weight: 700;
      color: var(--theme-primary);
    }

    &-label {
      font-size: 18px;
      color: var(--theme-primary);
    }
  }
}

.experience-list-container {
  list-style: none;
  counter-reset: experienceCounter;
  padding-bottom: 100px;

  .experience-holder {
    counter-increment: experienceCounter;

    &::after {
      content: "";
      display: block;
      height: 1px;
      background: #d0cad6;
      margin: 40px 0;
    }

    .company-name {
      font-size: 32px;
      font-weight: 700;
      color: var(--theme-primary);
      position: relative;

      &::before {
        content: counter(experienceCounter, decimal-leading-zero);
        color: var(--theme-primary);
        font-size: 20px;
        font-weight: 700;
        top: 8px;
        display: inline-block;
        position: absolute;
        right: 100%;
        margin-right: 20px;
      }

      &::after {
        content: ", ";
      }
    }

    .company-location {
      font-size: 18px;
      font-weight: 500;
      color: var(--theme-secondary);
    }

    .job-title {
      font-size: 18px;
      font-weight: 700;
      color: var(--theme-secondary);
      margin: 6px 0 10px 0;
    }

    .responsibility-list {
      margin-top: 12px;
      font-weight: 300;
      font-size: 16px;
      line-height: 2.4;
      color: var(--theme-accent-1);
      list-style-type: square;

      li::marker {
        color: var(--theme-primary);
      }
    }
  }
}

.skill-container {
  margin-top: -40px;
  padding-bottom: 100px;

  .skill-item-cell {
    padding: 15px;

    .skill-item-container {
      text-align: center;
      padding: 20px;
      border-radius: 24px;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: var(--primary-shadow);
      }

      .skill-icon {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-size: auto 100px;
        background-image: url("/assets/images/brand-icons.png");
      }

      .skill-name {
        color: var(--theme-secondary);
        font-weight: 300;
      }
    }
  }
}

.awards-main-container {
  margin-bottom: 140px;

  .awards-grid {
    display: flex;
    flex-wrap: wrap;

    .cell-item {
      margin-top: 20px;

      .award-card {
        background: white;
        border-radius: 24px;
        // box-shadow: var(--drop-shadow);
        transition: box-shadow 0.3s;
        padding: 24px;
        height: 100%;

        &:hover {
          box-shadow: var(--primary-shadow);
        }

        .award-title-container {
          display: flex;
          align-items: center;

          .award-image {
            width: 70px;
            margin-right: 26px;
          }

          .award-title {
            font-size: 18px;
            font-weight: 500;
            color: var(--theme-secondary);
          }
        }

        .award-description {
          margin: 20px 10px 10px 10px;
          font-weight: 300;
          line-height: 1.8;
          color: var(--theme-accent-2);
        }

        .company-logo-container {
          margin-top: 30px;
          .company-logo {
            height: 60px;
          }
        }
      }
    }
  }
}

.pr-button {
  font-size: 16px;
  font-weight: 500;
  padding: 4px 10px;
  margin-top: 20px;

  i {
    margin-left: 10px;
  }
}

.contact-main-container {
  padding-bottom: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 34px;

  .contact-button {
    padding: 17px 34px;
    font-size: 18px;
    background-image: var(--primary-gradient);
    background-size: 200%;
    border: none;
    color: white;
    text-align: center;
    border-radius: 50px;
    width: 220px;
    transition: background-position 0.3s;

    i {
      margin-right: 20px;
    }

    &:hover,
    &:focus {
      background-position: 50%;
    }
  }
}

.main-footer {
  padding: 20px 0;
  font-size: 16px;
  background: var(--theme-secondary);
  color: white;
}
