.main-card-container {
  padding-top: 100px;
  padding-bottom: 70px;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 322px;
    height: 308px;
    border-radius: 50%;
    background: var(--theme-primary);
    background: -o-linear-gradient(
      190deg,
      var(--theme-primary) 0%,
      rgba(115, 67, 210, 0) 100%
    );
    background: linear-gradient(
      260deg,
      var(--theme-primary) 0%,
      rgba(115, 67, 210, 0) 100%
    );
    -webkit-filter: blur(150px);
    filter: blur(150px);
    margin-top: -5%;
    z-index: -1;
  }

  @media screen and (width >=768px) {
    .fr-sm {
      float: right;
    }
  }

  .bio-headline-container {
    .js-title-gradient {
      display: inline-block;

      @media screen and (width < 768px) {
        margin-bottom: 40px;
      }
    }

    .js-sub-title {
      color: var(--theme-secondary);
      margin-bottom: 10px;
    }
  }

  .main-image-container {
    .headline-image {
      margin: 0 auto;
      display: block;
      width: 300px;
      height: 400px;
    }

    .headline-image-bg {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5%;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        background: var(--theme-primary);
        background: -o-linear-gradient(
          190deg,
          var(--theme-primary) 0%,
          rgba(115, 67, 210, 0) 100%
        );
        background: linear-gradient(
          260deg,
          var(--theme-primary) 0%,
          rgba(115, 67, 210, 0) 100%
        );
        -webkit-filter: blur(150px);
        filter: blur(150px);
        margin-left: -5%;
        margin-bottom: -5%;
      }
    }
  }

  .bio-container {
    .main-button-container {
      a {
        &:not(:first-child) {
          display: inline-block;
          margin-left: 20px;
          padding: 9px 13px;
        }
      }

      .resume-download-btn {
        display: inline-block;
        margin-top: 50px;
        padding: 17px 35px;

        i {
          margin-left: 10px;
        }
      }
    }

    .headline {
      @media screen and (width < 768px) {
        margin-top: 30px;
      }
    }
  }
}

.highlight-main-container {
  margin-bottom: 20px;

  .highlight {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 80px;

    @media screen and (width < 768px) {
      & {
        text-align: center;
        justify-content: center;
      }
    }

    &-value {
      font-size: 42px;
      font-weight: 700;
      color: var(--theme-primary);
    }

    &-label {
      font-size: 18px;
      color: var(--theme-primary);
    }
  }
}
