@if (isLoading$ | async) {
<app-loader @fadeInOut></app-loader>
} @else {
<ng-container *ngTemplateOutlet="websiteView"></ng-container>
}

<ng-template #websiteView>
  <div @fadeInOut class="app-bg">
    <app-header [isDarkMode]="isDarkMode"></app-header>

    <main class="container main-card-container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-6">
          <div class="bio-headline-container">
            <div class="js-sub-title">I'm {{ myDetails.me.firstName }}</div>
            <div class="js-title-gradient">
              <div>{{ myDetails.me.jobTitle }}</div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-6 fr-sm">
          <div class="main-image-container">
            <img class="headline-image" src="assets/images/man.png" />
            <div class="headline-image-bg"></div>
          </div>
        </div>

        <div class="bio-container col-xs-12 col-sm-7 col-md-6">
          <div class="headline-description">
            {{ myDetails.me.description }}
          </div>
          <div class="main-button-container">
            <a
              class="js-btn-primary-outline resume-download-btn hover"
              [href]="myDetails.me.links.resume"
              target="_blank"
            >
              <span>Download CV</span>
              <i class="fa fa-download"></i>
            </a>

            @for ( additionalButton of myDetails.me.additionalButtons; track
            $index ) {
            <a
              class="js-btn-primary-outline js-btn-icon-only hover"
              [href]="additionalButton.link"
              target="_blank"
            >
              <i [ngClass]="additionalButton.icon"></i>
            </a>
            }
          </div>
        </div>
      </div>
    </main>

    <section class="container">
      <div class="highlight-main-container">
        <div class="row">
          <div class="col-xs-6 col-lg-4">
            <div class="highlight">
              <div class="highlight-value">{{ totalExperience }}+</div>
              <div class="highlight-label">Years of Experience</div>
            </div>
          </div>

          @for (highlight of myDetails.highlights; track $index) {
          <div class="col-xs-6 col-lg-4">
            <div class="highlight">
              <div class="highlight-value">{{ highlight.value }}</div>
              <div class="highlight-label">{{ highlight.label }}</div>
            </div>
          </div>
          }
        </div>
      </div>
    </section>

    <section class="bg-off-white-primary" id="certifications">
      <app-certificates
        [certificates]="myDetails.certifications"
      ></app-certificates>
    </section>

    <section class="bg-white" id="experiences">
      <app-career [experiences]="myDetails.experiences"></app-career>
    </section>

    <section class="bg-off-white-primary" id="awards">
      <app-achievements
        [achievements]="myDetails.achievements"
      ></app-achievements>
    </section>

    <section id="skills">
      <app-skills [skills]="myDetails.skills"></app-skills>
    </section>

    <section id="educations" class="bg-off-white-primary">
      <app-education [educations]="myDetails.educations"></app-education>
    </section>

    <section class="bg-white" id="contacts">
      <app-contact [contacts]="myDetails.contact"></app-contact>
    </section>

    <app-footer></app-footer>
  </div>

  <div class="theme-switch-button" (click)="toggleTheme()">
    <div class="icon-container">
      <i
        class="icon fa"
        [ngClass]="{
        'fa-sun-o': isDarkMode,
        'fa-moon-o': !isDarkMode,
      }"
      ></i>
    </div>
  </div>
</ng-template>
